version: "3.9"
services:
  backend:
    build: .
    ports:
    - "5000:5000"
    env_file: .env
    depends_on:
    - mongo


  mongo:
    image: mongo:6
    restart: always
    environment:
      MONGO_INITDB_DATABASE: ${DB_NAME}
    ports:
      - "27017:27017"
